:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgb(1, 4, 54);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: rgb(130,45,209);
  background: linear-gradient(90deg, rgba(130,45,209,1) 0%, rgba(0,198,195,1) 46%, rgba(255,230,0,1) 100%);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.nav1{
  border-radius: 3px;
  background: #000000;
  
}

.small-icon {
  font-size: 20px;
}

.home{
  border-radius: 5px;
  background-color: #000000;
  outline: 3px solid rgb(1, 0, 2);
  margin-top: 1px;
}

.coolshadow{
  outline: 3px solid rgb(0, 0, 0);

  box-shadow:
    inset 0 0 50px #8a02a5,
    inset 20px 0 80px rgb(255, 1, 200),
    inset -20px 0 80px rgb(47, 111, 196),
    inset 20px 0 300px rgb(250, 246, 1),
    inset -20px 0 300px rgb(247, 10, 255),
    0 0 50px #1063fd,
    -10px 0 80px rgb(243, 247, 16),
    10px 0 80px rgba(243, 0, 0, 0.897);
}

.bg{
  background: rgb(0, 0, 0);
background: linear-gradient(90deg, rgba(130,45,209,1) 0%, rgba(0,198,195,1) 46%, rgba(255,230,0,1) 100%);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d81b1b;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #050a70;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.profile-footer {
  text-align: center;
  position: fixed;
  inset: auto 0 0 0;
  padding: 1em;
}

.footer2{
  position:absolute;
left:0;
bottom:0;
right:0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #253e53;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
